*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.overall{
    width:100%;
}
.con-img{
    min-height: 50vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.959),rgba(0, 0, 0, 0.459)),url(./img/about.jpg.webp) no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-style: normal;
   font-size: 25px;
}
.navbar{
    width:100%;
}
.navbar-nav>a:hover{
    color:rgb(225, 19, 36) !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-nav{
    color: black !important;
}
.about{
    width:100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    gap:10px;
}
.content-1 {
    width:40%;
    height:310px;
    border: 2px solid red;
}
.content-1:hover{
    border: 2px solid rgb(27, 136, 134);
}
.pain{
width: 100%;
height:250px;
}
.year{
    margin:2px;
    width:25%;
    height:150px;
    border: 2px solid aqua;
    opacity: 0.5;
}
.year:hover{
    margin:2px;
    width:25%;
    height:150px;
    border: 2px solid rgb(44, 98, 98);
    opacity: 1;
}
.img{
    width:99%;
    height: 35vh;
    background: url(./img/cta_1.jpg.webp) no-repeat;
    background-size: cover;
    background-position: center;
}
.our{
    width:100%;
    height:75vh;
}
.doctor img{
    width:300px;
    height:350px;
}
.doctor-1 img{
    width:300px;
    height:350px;
}
.doctor{
    margin:10px 10px;
    width:308px;
    height:450px;
    border-bottom: 4px solid blue;
}
.doctor:hover{
    margin:10px 10px;
    width:308px;
    height:450px;
    border: 4px solid blue;
    box-shadow: 2px 2px 15px black;
}
.our-1{
    width:100%;
    height:75vh;
}

.doctor-1{
    margin:10px 0px 10px 45px;
    width:308px;
    height:450px;
    border-bottom: 4px solid blue;
}

.doctor-1:hover{
    margin:10px 0px 10px 45px;
    width:308px;
    height:450px;
    border: 4px solid blue;
    box-shadow: 2px 2px 15px black;
}
footer{
    width: 100%;
    display: flex;
    gap:40px;
}
.text{

    width:50%;
    border:2px solid green;
}
.contact-2{
    width:30%;
    height:300px;
}
@media screen and (min-width:300px) and (max-width:600px) {
    .about{
        width:100%;
        min-height: max-content;
        background-color: aqua;
        padding:20px;
       flex-direction: column;
        gap:10px;
    }
    .content-1 {
        width:100%;
        height:300px;
        border: 2px solid red;
    }
    .content-1 img{
        width:50%;
    }


}
                