@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.overall{
    width:100%;
    padding:30px;
}
.container-fluid{
    font-family: "Spicy Rice", serif;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-style: normal;
   font-size: 25px;
   position: sticky;
}
.navbar{
    width:100%;
}
.navbar-nav>a:hover{
    color:rgb(225, 19, 36) !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-nav{
    color: black !important;
}
.con-img{
    min-height: 40vh;
    background: url(./img/contact.jpg.webp) no-repeat;
    background-size: cover;
    background-position: center;
}
